.msg {
  padding: 10px;
  background: #222;
  position: relative;
}
.msg h1 {
  color: #fff;
}
.msg a {
  margin-left: 20px;
  background: #408814;
  color: white;
  padding: 4px 8px;
  text-decoration: none;
}
.msg a:hover {
  background: #266400;
}

/* //-- yui-grids style overrides -- */
body {
  font-family: Georgia;
  color: #444;
}
#inner {
  padding: 10px 80px;
  margin: 80px auto;
  background: #f5f5f5;
  border: solid #666;
  border-width: 8px 0 2px 0;
  font-size: 19px;

}
.yui-gf {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #ccc;
}

/* //-- header, body, footer -- */
#hd {
  margin: 2.5em 0 3em 0;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #ccc;
}
#hd h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}
#bd,
#ft {
  margin-bottom: 2em;
}

/* //-- footer -- */
#ft {
  padding: 1em 0 5em 0;
  font-size: 92%;
  border-top: 1px solid rgb(26, 23, 23);
  text-align: center;
}
#ft p {
  margin-bottom: 0;
  text-align: center;
}

/* //-- core typography and style -- */
#hd h1 {
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
h2 {
  font-size: 152%;
}
h3,
h4 {
  font-size: 122%;
}
h1,
h2,
h3,
h4 {
  color: #333;
}
p {
  font-size: 100%;
  line-height: 18px;
  padding-right: 3em;
}
a {
  color: #990003;
}
a:hover {
  text-decoration: none;
}
strong {
  font-weight: bold;
}
li {
  line-height: 24px;
  border-bottom: 1px solid #ccc;
}
p.enlarge {
  font-size: 144%;
  padding-right: 6.5em;
  line-height: 24px;
}
p.enlarge span {
  color: #000;
}
.contact-info {
  margin-top: 7px;
}
.first h2 {
  font-style: italic;
}
.last {
  border-bottom: 0;
}

/* //-- section styles -- */

/* a#pdf {
  display: block;
  float: left;
  background: #666;
  color: white;
  padding: 6px 50px 6px 12px;
  margin-bottom: 6px;
  text-decoration: none;
} */
a#pdf:hover {
  background: #222;
}

.job {
  position: relative;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid rgb(7, 6, 6);
}
.job h4 {
  position: absolute;
  top: 0.35em;
  right: 0;
}
.job p {
  margin: 0.75em 0 3em 0;
}

.last {
  border: none;
}

.skills-list ul {
  margin: 0;
}
.skills-list li {
  margin: 3px 0;
  padding: 3px 0;
}
.skills-list li span {
  font-size: 152%;
  display: block;
  margin-bottom: -2px;
  padding: 0;
}
.talent {
  width: 32%;
  float: left;
}
.talent h2 {
  margin-bottom: 6px;
}

#srt-ttab {
  margin-bottom: 100px;
  text-align: center;
}
#srt-ttab img.last {
  margin-top: 20px;
}

/* --// override to force 1/8th width grids -- */
.yui-gf .yui-u {
  width: 80.2%;
}
.yui-gf div.first {
  width: 12.3%;
}

body {
 background-color: rgb(31, 29, 29);
  
  background-size: 100% 100%;
  background-attachment: fixed;
  height: 70rem;
}

#newp1 {
  margin-top: 20px;
  margin-left: 35px;
  height: 7rem;
  font-size: 45px;
  border-radius: 33px;
}

.mb-3 {
  text-align: left;
  text-transform: bold;
  font-weight: 700;
  font-size: medium;
}

.modal {
  background-color: rgba(64, 243, 64, 0.933);
}

#xp__1 {
  margin-top: -25px;
}

#but_1 {
  margin-top: 19px;
}

#but__2 {
  margin-top: 21px;
  height: 40px;
}

.Text {
  display: inline-block;
  background-image:linear-gradient(to right,#0e0e,#f2f2);
  border-radius: 2rem;
  color: #ccc;
  font-size: 3rem;
  margin-top: 2rem;
      margin-left: 20px;
      height: 108px;
    font-size: 59px;
}

.Resume{
     background-color: #0e0e;
    width: 59rem;
    margin-left: 23px;
    height: 62rem;
    margin-top: 2rem;
}

.carousel{
  height: 51%;
    width: 91%;
    align-content: center;
    margin-left: 4%;
    background-color: #0e0e0e;
    animation: mymove 5s infinite;
}

@keyframes mymove {
  from {background-color:#896cac ;}
  to {background-color: #0e0e}
}

.navbar{
  height: 5rem;
}

.navbar-brand{
  font-size: 2rem;
}


@media(min-width:1024px){
  .navbar{
    height: 4rem;
  }
.msg {
  padding: 10px;
  background: #222;
  position: relative;
}
.msg h1 {
  color: #fff;
}
.msg a {
  margin-left: 20px;
  background: #408814;
  color: white;
  padding: 4px 8px;
  text-decoration: none;
}
.msg a:hover {
  background: #266400;
}

/* //-- yui-grids style overrides -- */
body {
  font-family: Georgia;
  color: #444;
}
#inner {
  padding: 10px 80px;
  margin: 80px auto;
  background: #f5f5f5;
  border: solid #666;
  border-width: 8px 0 2px 0;
}
.yui-gf {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #ccc;
}

/* //-- header, body, footer -- */
#hd {
  margin: 2.5em 0 3em 0;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #ccc;
}
#hd h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}
#bd,
#ft {
  margin-bottom: 2em;
}

/* //-- footer -- */
#ft {
  padding: 1em 0 5em 0;
  font-size: 92%;
  border-top: 1px solid rgb(26, 23, 23);
  text-align: center;
}
#ft p {
  margin-bottom: 0;
  text-align: center;
}

/* //-- core typography and style -- */
#hd h1 {
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
h2 {
  font-size: 152%;
}
h3,
h4 {
  font-size: 122%;
}
h1,
h2,
h3,
h4 {
  color: #333;
}
p {
  font-size: 100%;
  line-height: 18px;
  padding-right: 3em;
}
a {
  color: #990003;
}
a:hover {
  text-decoration: none;
}
strong {
  font-weight: bold;
}
li {
  line-height: 24px;
  border-bottom: 1px solid #ccc;
}
p.enlarge {
  font-size: 144%;
  padding-right: 6.5em;
  line-height: 24px;
}
p.enlarge span {
  color: #000;
}
.contact-info {
  margin-top: 7px;
}
.first h2 {
  font-style: italic;
}
.last {
  border-bottom: 0;
}

/* //-- section styles -- */

/* a#pdf {
  display: block;
  float: left;
  background: #666;
  color: white;
  padding: 6px 50px 6px 12px;
  margin-bottom: 6px;
  text-decoration: none;
} */
a#pdf:hover {
  background: #222;
}

.job {
  position: relative;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid rgb(7, 6, 6);
}
.job h4 {
  position: absolute;
  top: 0.35em;
  right: 0;
}
.job p {
  margin: 0.75em 0 3em 0;
}

.last {
  border: none;
}

.skills-list ul {
  margin: 0;
}
.skills-list li {
  margin: 3px 0;
  padding: 3px 0;
}
.skills-list li span {
  font-size: 152%;
  display: block;
  margin-bottom: -2px;
  padding: 0;
}
.talent {
  width: 32%;
  float: left;
}
.talent h2 {
  margin-bottom: 6px;
}

#srt-ttab {
  margin-bottom: 100px;
  text-align: center;
}
#srt-ttab img.last {
  margin-top: 20px;
}

/* --// override to force 1/8th width grids -- */
.yui-gf .yui-u {
  width: 80.2%;
}
.yui-gf div.first {
  width: 12.3%;
}

body {
 background-color: rgb(31, 29, 29);
  
  background-size: 100% 100%;
  background-attachment: fixed;
  height: 70rem;
}

#newp1 {
  margin-top: 20px;
    margin-left: 36rem;
    height: 6rem;

}

.mb-3 {
  text-align: left;
  text-transform: bold;
  font-weight: 700;
  font-size: medium;
}

.modal {
  background-color: rgba(64, 243, 64, 0.933);
}

#xp__1 {
  margin-top: -25px;
}

#but_1 {
  margin-top: 19px;
}

#but__2 {
  margin-top: 21px;
  height: 40px;
}

.Text {
  display: inline-block;
    background-image: linear-gradient(to right,#0e0e,#f2f2);
    border-radius: 2rem;
    color: #ccc;
    font-size: 3rem;
    margin-top: 2rem;
    margin-left: 23rem;
}

.Resume{
  background-color: #0e0e;
    width: 65rem;
    margin-left: 13rem;
    height: 82rem;
    margin-top: 2rem;
}

.carousel{
  height: 44%;
  width: 65%;
  align-content: center;
  margin-left: 18%;
  background-color: #0e0e0e;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  from {background-color:#896cac ;}
  to {background-color: #0e0e}
}
}
